// Home page

body
  background #333

.promo_block
  height 500px
  display flex
  align-items center
  justify-content center
  background-color COLOR_PROMO_BLOCK_TRANSPARENT
  
  &__title
    color COLOR_MAIN_TITLE
    font-size 24pt
    margin-right 100px
