COLOR_BLACK = #333
COLOR_DARK_BLACK = #111
COLOR_WHITE = white
COLOR_GREEN = green
COLOR_YELLOW = yellow
COLOR_GREY_LIGHT = #eee

COLOR_MAIN_TITLE = red

COLOR_PROMO_BLOCK_TRANSPARENT = rgba(120, 120, 120, 0.5)
