DEFAULT_PADDING = 10px
DEFAULT_MARGIN = 10px
  	
.promo_item
  border 2px dashed blue
  padding DEFAULT_PADDING
  margin DEFAULT_MARGIN
  background-color COLOR_YELLOW
  &-white
    background-color COLOR_WHITE
    color COLOR_DARK_BLACK
  &-green
    background-color COLOR_GREEN
    color COLOR_GREY_LIGHT
